@inherits LayoutComponentBase
@inject NavigationManager _navMgr;
<RadzenLayout>
    <RadzenHeader>
        <div class="row">
            <div class="col">
                <RadzenStack Orientation="Orientation.Horizontal"  AlignItems="AlignItems.Center" Gap="0">
                    <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
                    <RadzenLabel Text="КГД" />
                </RadzenStack>
            </div>
            <div class="col" style="justify-content:end;align-items:center;display:flex;padding-right:2%;">
                    <AuthorizeView>
                        <Authorized>
                            <NavLink href="logout" Match="NavLinkMatch.All">
                                Logout
                            </NavLink>
                        </Authorized>
                        <NotAuthorized>
                            <NavLink href="registration" Match="NavLinkMatch.All">
                                Registration
                            </NavLink>
                            <NavLink href="login" Match="NavLinkMatch.All">
                                Login
                            </NavLink>
                        </NotAuthorized>
                    </AuthorizeView>
            </div>
        </div>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
        <AuthorizeView Roles="Admin">
            <Authorized>
                <RadzenPanelMenu>
                    <a href="/" style="outline:hidden !important;">
                    <RadzenPanelMenuItem Text="Главная" Icon="home" />
                    </a>
                    <a href="/add" style="outline:hidden !important;">
                    <RadzenPanelMenuItem Text="Добавить новый отчет" Icon="account_box" />
                    </a>
                </RadzenPanelMenu>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="User">
            <Authorized>
                <RadzenPanelMenu>
                    <a href="/" style="outline:hidden !important;">
                        <RadzenPanelMenuItem Text="Главная" Icon="home" />
                    </a>
                    <a href="/add" style="outline:hidden !important;">
                        <RadzenPanelMenuItem Text="Добавить новый отчет" Icon="account_box" />
                    </a>
                </RadzenPanelMenu>
            </Authorized>
        </AuthorizeView>
    </RadzenSidebar>
    <RadzenBody style="background-color:#f5f5f5;">
            @Body
    </RadzenBody>
</RadzenLayout>

@code {
    bool sidebar1Expanded = true;
}
