@inherits LayoutComponentBase
@inject NavigationManager _navMgr;
<RadzenLayout>
    <RadzenHeader>
        <div class="row">
            <div class="col">
                <AuthorizeView>
                    <Authorized>
                        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                            <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
                            <RadzenLabel Text="КГД" />
                        </RadzenStack>
                    </Authorized>
                </AuthorizeView>
            </div>
            <div class="col" style="justify-content:end;align-items:center;display:flex;padding-right:2%;">
                <AuthorizeView>
                    <Authorized>
                        <NavLink href="logout" Match="NavLinkMatch.All">
                            Logout
                        </NavLink>
                    </Authorized>
                    <NotAuthorized>
                        <NavLink href="login" Match="NavLinkMatch.All">
                            Login
                        </NavLink>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
    </RadzenHeader>
    <AuthorizeView Roles="Admin">
        <Authorized>
            <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
                <RadzenPanelMenu>
                    <ChildContent>
                        <RadzenPanelMenuItem Text="Отчеты">
                            <RadzenPanelMenuItem Icon="account_box" Text="Приложение 1_КЭР"></RadzenPanelMenuItem>
                            <RadzenPanelMenuItem Icon="account_box" Text="Приложение 2_Обжалования"></RadzenPanelMenuItem>
                            <a href="/" style="text-decoration: none !important;color: black;">
                                <RadzenPanelMenuItem Icon="account_box" Text="Приложение 3_Неблагонадежные поставщики"></RadzenPanelMenuItem>
                            </a>
                        </RadzenPanelMenuItem>
                        <RadzenPanelMenuItem Text="Выгрузка отчетов">
                            <RadzenPanelMenuItem Icon="account_box" Text="Приложение 1_КЭР"></RadzenPanelMenuItem>
                            <RadzenPanelMenuItem Icon="account_box" Text="Приложение 2_Обжалования"></RadzenPanelMenuItem>
                            <RadzenPanelMenuItem Icon="account_box" Text="Приложение 3_Неблагонадежные поставщики"></RadzenPanelMenuItem>
                        </RadzenPanelMenuItem>
                        <RadzenPanelMenuItem Text="Справочники">
                            <RadzenPanelMenuItem Icon="account_box" Text="Код ДГД"></RadzenPanelMenuItem>
                            <RadzenPanelMenuItem Icon="account_box" Text="Департаменты"></RadzenPanelMenuItem>
                            <RadzenPanelMenuItem Icon="account_box" Text="Неблагонадежные поставщики"></RadzenPanelMenuItem>
                        </RadzenPanelMenuItem>
                    </ChildContent>
                </RadzenPanelMenu>
            </RadzenSidebar>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="User">
        <Authorized>
            <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
                <ChildContent>
                    <RadzenPanelMenuItem Text="Отчеты">
                        <RadzenPanelMenuItem Icon="account_box" Text="Приложение 1_КЭР"></RadzenPanelMenuItem>
                        <RadzenPanelMenuItem Icon="account_box" Text="Приложение 2_Обжалования"></RadzenPanelMenuItem>
                        <a href="/" style="text-decoration: none !important;color: black;">
                            <RadzenPanelMenuItem Icon="account_box" Text="Приложение 3_Неблагонадежные поставщики"></RadzenPanelMenuItem>
                        </a>
                    </RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="Выгрузка отчетов">
                        <RadzenPanelMenuItem Icon="account_box" Text="Приложение 1_КЭР"></RadzenPanelMenuItem>
                        <RadzenPanelMenuItem Icon="account_box" Text="Приложение 2_Обжалования"></RadzenPanelMenuItem>
                        <RadzenPanelMenuItem Icon="account_box" Text="Приложение 3_Неблагонадежные поставщики"></RadzenPanelMenuItem>
                    </RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="Справочники">
                        <RadzenPanelMenuItem Icon="account_box" Text="Код ДГД"></RadzenPanelMenuItem>
                        <RadzenPanelMenuItem Icon="account_box" Text="Департаменты"></RadzenPanelMenuItem>
                        <RadzenPanelMenuItem Icon="account_box" Text="Неблагонадежные поставщики"></RadzenPanelMenuItem>
                    </RadzenPanelMenuItem>
                </ChildContent>
            </RadzenSidebar>
        </Authorized>
    </AuthorizeView>
    <RadzenBody style="background-color:#f5f5f5;">
        @Body
    </RadzenBody>
</RadzenLayout>

@code {
    bool sidebar1Expanded = true;
}
