@page "/edittaxpayer"
@using KGD.Application.DTO;

@inject NavigationManager _navMgr;
<h3>Изменение плательщика</h3>

<RadzenCard>
    <div class="row">
        <div class="col-md-10">
            <RadzenLabel Text="БИН Налогоплательщика" />
            <RadzenTextBox Style="width:100%;" @bind-Value="@taxPayerDTO.Bin" />
        </div>
        <div class="col-md-10">
            <RadzenLabel Text="Имя налогоплательщика" />
            <RadzenTextBox Style="width:100%;" @bind-Value="@taxPayerDTO.Name" />
        </div>
    </div>
    <br />
    <RadzenButton Text="Изменить" ButtonStyle="ButtonStyle.Success" Click="OnSubmit" />
    <RadzenButton Text="Назад" ButtonStyle="ButtonStyle.Secondary" Click="@(() => _navMgr.NavigateTo("/taxpayer"))" />
</RadzenCard>
@code {
    private TaxPayerDTO taxPayerDTO = new TaxPayerDTO();
    public void OnSubmit()
    {

    }
}
